.banner {
    background-color: #FDFDFB;
    padding-top: 52px;
    margin-bottom: 81px;
    position: relative;
}

.banner__content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    z-index: 2;
}

.banner__content img {
    margin-right: 70px;
}

.banner__content h2 {
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 32px;
    line-height: 43px;
    color: #1B1A17;
    margin-bottom: 38px;
}

.banner__content p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #444240;
    max-width: 376px;
    margin-bottom: 45px;
}

.banner__content button {
    border: none;
    padding: 26px 38px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    background-color: #D4B098;
    cursor: pointer;
    transition: .2s;
}

.banner__content button:hover {
    opacity: .8;
}

.banner__buttons {
    display: flex;
    align-items:center;
    justify-content: center;
    padding-bottom: 21px;
    padding-right: 80px;
}

.banner__buttons span {
    font-family: 'Prata';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: rgba(27, 26, 23, 0.82);
    margin: 0 20px;
}

.banner__buttons button {
    background-color:inherit;
    border: none;
    color: rgba(27, 26, 23, 0.82);
    cursor: pointer;
}

.banner__bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 523px;
    width: 35%;
    background-color: #F7F5EF;
}

.banner__lines {
    position: absolute;
    right: 0;
    top: 0;
    height: 523px;
}