.header {
    background: #FDFDFB;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 31px;
    padding-bottom: 28px;
}

.header__logo-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__logo-container p {
    margin-left: 8px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.14em;
    color: #555248;
}

.header__navbar {
        font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #555248;
}

.header__navbar-item:not(:last-child) {
    margin-right: 65px;

} 

.header__special {
    display: flex;
    align-items:center;
}

.header__special-item {
    position: relative;
    cursor: pointer;
}

.header__special-item:not(:last-child) {
    margin-right: 23px;
}

.header__special-item:nth-child(2)::after {
    content:'1';
    position:absolute;
    right: -8px;
    top: -5px;
    background-color: #E6C8B4;
    padding: 3px 5px 2px 5px;
    border-radius: 50%;
    font-weight: 400;
    font-size: 8px;
    line-height: 9px;
    text-align: center;
    color: #1B1A17;
}