.main {
    background: #FDFDFB;
    height: 778px;
}

.main__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 100px;
    padding-left: 117px;
}

.main__info h1 {
    position: relative;
    font-family: 'Playfair Display';
    font-size: 45px;
    line-height: 60px;
    color: #1B1A17;
    margin-bottom: 16px;
    z-index: 2;
}

.main__info h1::before {
    content: '';
    position: absolute;
    left: -65px;
    top: 32px;
    display: inline-block;
    border: 1px solid #8B8371;
    width: 50px;
    transform: rotateZ(90);
}

.main__info h2 {
    font-family: 'Playfair Display';
    font-size: 30px;
    line-height: 40px;
    color: #1B1A17;
    margin-bottom: 39px;
}

.main__info p {
    max-width: 258px;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: rgba(27, 26, 23, 0.82);
    margin-bottom: 64px;
}

.main__info button {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 26px 38px;
    background: #444240;
    cursor: pointer;
    transition: .2s;
    border: none;
}


.main__info button:hover {
    opacity: .9;
}

.main__content {
    position: relative;
}

.main__content-cost {
    font-family: 'Prata';
    font-size: 16px;
    line-height: 22px;
    color: #1B1A17;
    position: absolute;
    top: 145px;
    left: -60px;
    z-index: 2;
}

.main__content-cost::after {
    content: '';
    position: absolute;
    right: -65px;
    top: 9px;
    display: inline-block;
    border: 1px solid #8B8371;
    width: 50px;
    transform: rotateZ(90);
}

.main__content-size {
    font-family: 'Prata';
    font-size: 16px;
    line-height: 22px;
    color: #1B1A17;
    position: absolute;
    bottom: 150px;
    right: -70px;
    z-index: 2;
}

.main__content-size::before {
    content: '';
    position: absolute;
    left: -65px;
    top: 9px;
    display: inline-block;
    border: 1px solid #8B8371;
    width: 50px;
    transform: rotateZ(90);
}

.main__content-image {
    z-index: 2;
    position: relative;
}

.main__content-bg {
    position: absolute;
    left: -155px;
    top: 22px;
    height: 756px;
    width: 406px;
    bottom: 0;
    z-index: 1;
}