.news {
    padding-bottom: 90px;
}

.news__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.news__info h2 {
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 32px;
    line-height: 43px;
    color: #1B1A17;
    margin-bottom: 40px;
}

.news__info p {
    font-weight: 400;   
    font-size: 16px;
    line-height: 27px;
    color: #444240;
    max-width: 376px;
    margin-bottom: 118px;
}

.news__info p span {
    font-weight: bold;
}

.news__socials {
    display: flex;
    align-items: center;
}

.news__socials-item:not(:last-child) {
    margin-right: 18px;
}

.news__photos {
    display: flex;
}
.news__photos>img {
    height: 460px;
}

.news__photos div {
    width: 242px;
    margin-right: 10px;
}

.news__photos div img:not(:last-child) {
margin-bottom: 7px;
}