@import url('styles/reset.css');
@import url('styles/header.css');
@import url('styles/main.css');
@import url('styles/models.css');
@import url('styles/banner.css');
@import url('styles/news.css');
@import url('styles/footer.css');

body {
    font-family: Roboto;
    font-weight: 400;   
    font-style: normal;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}
